# Byte-compiled/optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Settings
settings/dev.py
settings/prod.py

# Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# virtualenv
.venv
venv/
ENV/

# IntelliJ/PyCharm
.idea/

# Distribution
static

# Node + NPM
node_modules

# Misc
.DS_Store
